# Requirements definition for pip-compiler

# Runtime dependencies
-r core-requirements.txt
-r extra-test-requirements.txt

# Setup requirements
setuptools_scm

# Test requirements
mock
pytest
pytest-cov

# Documentation build
sphinx
